.young-devs,
.young-devs
  * {
  box-sizing: border-box;
}
.young-devs {
  background: #ffffff;
  height: 4007px;
  position: relative;
}
.frame {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 1902px;
  height: 4007px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.div-framer-72-rtr-7 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 1037px;
  position: relative;
  overflow: hidden;
}
.div-framer-17-cpdoz {
  background: #390099;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 250px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}
.div-framer-16-ixyuc {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  left: 702.87px;
  top: 150px;
  overflow: hidden;
}
.div-framer-37-cldl {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.image {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.div-h-2-d-409-bf-937-mask-group {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.div-h-2-d-409-bf-937-mask {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.svg {
  align-self: stretch;
  flex-shrink: 0;
  height: 140px;
  position: relative;
  overflow: hidden;
}
.div-framer-1-l-4-zdc-6 {
  align-self: stretch;
  flex-shrink: 0;
  height: 19.19px;
  position: absolute;
  left: calc(50% - 853px);
  top: calc(50% - -388.91px);
  overflow: hidden;
}
.youg-dev-s {
  color: #ffdd00;
  text-align: center;
  font: 400 96px/19.2px "Silkscreen", sans-serif;
  position: absolute;
  left: 611px;
  top: 85px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-framer-fjvu-6 {
  background: #ff0054;
  padding: 100px 89px 101px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.heading-2 {
  padding: 0px 427px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  right: 100px;
  left: 100px;
  top: 22px;
}
.aprenda-a-programar-em-apenas-6-meses {
  color: #000000;
  text-align: left;
  font: 400 48px/57.6px "Silkscreen", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-3 {
  margin: -1.01px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  right: 89px;
  left: 100px;
  top: 140px;
}
.com-o-curso-young-dev-s-voc-pode-se-tornar-um-futuro-programador-em-apenas-6-meses-nossas-aulas-intensivas-gratuitas-s-o-perfeitas-para-jovens-do-ensino-m-dio-que-querem-aprender-as-habilidades-necess-rias-para-uma-carreira-de-sucesso-na-tecnologia {
  color: #ffffff;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-tp-97-zr {
  background: #390099;
  padding: 100px 452.5px 100px 452.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div-framer-csjf-2-n {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 1000px;
  position: relative;
}
.div-framer-7-h-9-edc {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.div-framer-84-ur-4-r {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.f-yp-5-qfw-ua-h-vnt-yj-meym-7-lr-u-bgl-y-jpg {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.heading-32 {
  padding: 0px 17px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.quem-pode-participar-jovens-do-ensino-m-dio-com-idade-entre-14-e-17-anos {
  color: #ffbd00;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-18-lew-1-c {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.div-framer-1-h-3-qst-1 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.i-r-5-ud-x-pw-ty-8-ytp-l-cn-p-lvwb-w-jt-i-jpg {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.heading-33 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.como-se-inscrever-acesse-nosso-site-e-preencha-o-formul-rio-de-inscri-o {
  color: #ffbd00;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-193-xd-02 {
  padding: 0px 0px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.div-framer-1-vrn-2-x-6 {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  flex-shrink: 0;
  width: 326.67px;
  height: 326.67px;
  position: relative;
  overflow: hidden;
}
.uuw-bxcz-s-5-l-3-w-4-a-5-j-ok-cvwb-vx-4-jpg {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.qual-a-carga-hor-ria-as-aulas-acontecem-de-segunda-a-sexta-feira-das-18-h-s-22-h {
  color: #ffbd00;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-133-h-1-ov {
  background: #3900b7;
  padding: 100px 452.5px 100px 452.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div-framer-13-t-5-h-9-d {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}
.heading-22 {
  padding: 0px 430px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.nosso-diferencial {
  color: #ffbd00;
  text-align: left;
  font: 400 48px/57.6px "Silkscreen", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-iishai {
  align-self: stretch;
  flex-shrink: 0;
  height: 290px;
  position: relative;
  overflow: hidden;
}
.heading-34 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 188.5px;
  left: 200.5px;
  top: -1px;
}
.gratuidade-nossas-aulas-s-o-gratuitas-o-que-torna-o-curso-acess-vel-a-todos {
  color: #ffbd00;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-35 {
  padding: 0px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 200px;
  left: 200px;
  top: 99px;
}
.qualidade-dos-professores-nossos-professores-s-o-profissionais-experientes-e-qualificados {
  color: #ffbd00;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-36 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 200px;
  left: 200px;
  top: 199px;
}
.metodologia-de-ensino-nossa-metodologia-baseada-em-projetos-pr-ticos-o-que-ajuda-os-alunos-a-aprender-com-as-m-os-na-massa {
  color: #ffbd00;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-1-g-63-xv-2 {
  background: #ff5400;
  padding: 100px 452.5px 100px 452.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.div-framer-1-vqvs-3-v {
  display: flex;
  flex-direction: column;
  gap: 39.99px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}
.heading-23 {
  padding: 0px 670px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sobre-n-s {
  color: #000000;
  text-align: left;
  font: 400 48px/57.6px "Silkscreen", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-1-t-0-w-0-qi {
  align-self: stretch;
  flex-shrink: 0;
  height: 320px;
  max-width: 600px;
  position: relative;
  overflow: hidden;
}
.heading-37 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: -1px;
}
.miss-o-nossa-miss-o-promover-a-inclus-o-digital-e-a-educa-o-tecnol-gica-para-jovens-de-todo-o-brasil {
  color: #ffffff;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-38 {
  padding: 0px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 129px;
}
.vis-o-queremos-ser-a-maior-rede-de-cursos-de-programa-o-gratuitos-para-jovens-do-ensino-m-dio {
  color: #ffffff;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame2 {
  width: 624px;
  height: 90px;
  position: absolute;
  left: -12px;
  top: 229px;
  overflow: hidden;
}
.heading-39 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 0.5px;
  left: 12.5px;
  top: 0px;
}
.valores-acreditamos-na-educa-o-como-ferramenta-de-transforma-o-social-estamos-comprometidos-com-a-qualidade-do-ensino-e-com-a-inclus-o-de-todos {
  color: #ffffff;
  text-align: left;
  font: 400 20px/30px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-37-xhjf {
  background: #ff0054;
  padding: 40px 520.92px 31.86px 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 320px;
  min-height: 303px;
  position: relative;
  overflow: hidden;
}
.heading-3-equipe {
  color: #000000;
  text-align: left;
  font: 400 40px/60px "Silkscreen", sans-serif;
  position: relative;
  width: 170.2px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame3 {
  display: flex;
  flex-direction: row;
  gap: 59.41px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 947.08px;
  position: relative;
  overflow: hidden;
}
.frame4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  width: 247.72px;
  position: relative;
  overflow: hidden;
}
.ellipse-1 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 105px;
  height: 105px;
  position: relative;
}
.div-framer-1-izrfh-2 {
  padding: 0px 45.08px 30.65px 45.77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 93.65px;
  position: relative;
  overflow: hidden;
}
.carlos {
  color: #97dffc;
  text-align: center;
  font: 400 20px/28px "Silkscreen", sans-serif;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.professor-expert {
  color: #97dffc;
  text-align: center;
  font: 400 16px/24px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  width: 158.6px;
  position: relative;
  overflow: hidden;
}
.ellipse-2 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 105px;
  height: 105px;
  position: relative;
}
.div-framer-5-eg-27-x {
  padding: 0px 28.04px 30.65px 27.86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 93.65px;
  position: relative;
  overflow: hidden;
}
.mariana {
  color: #97dffc;
  text-align: center;
  font: 400 20px/28px "Silkscreen", sans-serif;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mentora {
  color: #97dffc;
  text-align: center;
  font: 400 16px/24px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  width: 176.73px;
  position: relative;
  overflow: hidden;
}
.ellipse-3 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 106px;
  height: 105px;
  position: relative;
}
.div-framer-r-843-gt {
  padding: 0px 34.56px 30.65px 34.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 93.65px;
  position: relative;
  overflow: hidden;
}
.rafael {
  color: #97dffc;
  text-align: center;
  font: 400 20px/28px "Silkscreen", sans-serif;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coordenador {
  color: #97dffc;
  text-align: center;
  font: 400 16px/24px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  width: 185.79px;
  position: relative;
  overflow: hidden;
}
.ellipse-4 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 105px;
  height: 106px;
  position: relative;
}
.div-framer-1-h-7-iwdh {
  padding: 0px 25.79px 30.65px 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 93.65px;
  position: relative;
  overflow: hidden;
}
.gabriela {
  color: #97dffc;
  text-align: center;
  font: 400 20px/28px "Silkscreen", sans-serif;
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colaboradora {
  color: #97dffc;
  text-align: center;
  font: 400 16px/24px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-framer-ejh-8-ez {
  background: #390099;
  padding: 63px 39.5px 63px 39.5px;
  display: flex;
  flex-direction: row;
  gap: 574px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 330px;
  position: relative;
}
.heading-24 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.est-pronto-para-embarcar-nesta-jornada-fa-a-parte-do-young-dev-s-agora {
  color: #ffbd00;
  text-align: left;
  font: 400 40px/48px "Silkscreen", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-11-yg-5-w-6 {
  background: #ff5400;
  border-radius: 12px;
  border-style: solid;
  border-color: #2c0735;
  border-width: 1px;
  padding: 27px 2.5px 28px 2.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.03);
}
.p-framer-text {
  padding: 0px 276.41px 0px 276.59px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.inscreva-se {
  color: #ffffff;
  text-align: center;
  font: 600 22px/34px "Poppins", sans-serif;
  position: relative;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-framer-1-vve-260 {
  padding: 0px 0px 12.62px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.div-framer-9-j-4-bie {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 102.78px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div-framer-1-eja-321 {
  padding: 0px 22.5px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 22.59px;
  position: relative;
}
.p-framer-text2 {
  padding: 0px 283px 0.59px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  right: 291px;
  left: 10px;
  top: 0px;
}
.nome {
  color: #ffffff;
  text-align: left;
  font: 400 18px/21.6px "Roboto", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-1-i-0-gtpo {
  background: #3900b7;
  border-radius: 6px;
  padding: 0px 671px 51px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 51px;
  min-height: 51px;
  position: absolute;
  left: 10.5px;
  top: 28.14px;
}
.div-framer-1-ysek-9-r {
  padding: 50px 22.5px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 22.59px;
  position: relative;
}
.p-framer-text3 {
  padding: 0px 287px 0.59px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  right: 291px;
  left: 10px;
  top: 50px;
}
.email {
  color: #ffffff;
  text-align: left;
  font: 400 18px/21.6px "Roboto", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-framer-dndlsj {
  background: #3900b7;
  border-radius: 6px;
  padding: 0px 671px 51px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 51px;
  min-height: 51px;
  position: absolute;
  left: 10.5px;
  top: 78.55px;
}
.div-framer-1-x-2-xbi-6 {
  padding: 100px 22.5px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 21.6px;
  position: relative;
}
.p-framer-text4 {
  padding: 0px 161px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  right: 291px;
  left: 10px;
  top: 100px;
}
.whats-app-opcional {
  text-align: left;
  font: 400 18px/21.6px "Roboto", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.whats-app-opcional-span {
  color: #dddddd;
  font: 400 18px/21.6px "Roboto", sans-serif;
}
.whats-app-opcional-span2 {
  color: #ffbd00;
  font: 400 18px/21.6px "Roboto", sans-serif;
}
.div-framer-wzqopj {
  background: #3900b7;
  border-radius: 6px;
  padding: 0px 671px 51px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 51px;
  min-height: 51px;
  position: absolute;
  right: 22.5px;
  left: 10.5px;
  top: 127.96px;
}
.div-framer-ws-1-tna {
  background: #ff0054;
  border-radius: 4px;
  padding: 12px 18px 11.59px 18px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: absolute;
  left: 23px;
  top: 310px;
}
.enviar {
  color: #ffffff;
  text-align: center;
  font: 300 italic 18px/21.6px "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-framer-1-fva-9-me {
  background: #000000;
  padding: 80px 584.7px 105px 585.3px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.young-dev-s-cnpj-12-345-678-0001-12-todos-os-direitos-reservados-2023 {
  color: #ffbd00;
  text-align: center;
  font: 400 16px/24px "Space Mono", sans-serif;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
